* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FCE2E2;
}

img {
    max-width: 100%;
    height: auto;
}

.fundo-superior {
    background-color: #FCE2E2;
}

main {
    max-width: 1200px;
    padding: 0 auto;
    margin: 0 20px;
}

.top-bar {
    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.barra-de-pesquisa {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    padding: 10px 20px;
    width: 65%;
    border: 1px solid #b3b3b3;
    box-shadow: 0 1px 3px #b3b3b3;
}

.barra-de-pesquisa input[type="text"] {
    flex-grow: 1;
    border: none;
    background: transparent;
    outline: none;
    padding: 0;
    margin: 0;
    font-size: 1em;
    font-family: WDXL Lubrifont SC;
    font-size: 22px;
}

.Lupa-de-Pesquisa {
    width: 28px;
    height: 28px;
    margin-left: 10px;
    cursor: pointer;
}

.usuário {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c0bfbf;
    border-radius: 50px;
    padding: 10px 20px;
    width: 200px;
    height: 50px;
    margin: 30px;
    gap: 10px;
}

.usuário img {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.usuário span {
    white-space: nowrap;
    font-weight: bold;
    font-size: 1em;
    flex-shrink: 0;
    font-family: "WDXL Lubrifont SC";
    white-space: nowrap;
}

/*menu de navegação*/
.menu {
    display: flex;
    justify-content: center;
    background-color: var(--cor-secundaria);
    padding: 10px 0;
    background-color: #fff1f1;
}

.menu a {
    align-items: center;
    padding: 10px;
    color: #000;
    font-size: 1.3em;
    font-family: "WDXL Lubrifont SC";
}

.menu img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

/*-separação dos botões-*/

.tittulo-separador1,
.tittulo-separador2,
.tittulo-separador3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0 20px;
}

.tittulo-separador1 h2,
.tittulo-separador2 h2,
.tittulo-separador3 h2 {
    word-spacing: nowrap;
    margin: 0 20px;
    font-size: 2em;
}

.titulo-separador1 img,
.titulo-separador2 img,
.titulo-separador3 img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}



.botao-ver-produtos a,
.botao-ver-cartas a,
.botao.pokedex a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2282C;
    color: #EEEDED;
    font-family: Bungee;
    font-size: 1.2em;
    padding: 10px 40px;
    border-radius: 50px;
    margin: 30px auto;
    width: fit-content;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    text-decoration: none;
}

.botao-ver-produtos img,
.botao-ver-cartas img,
.botao.pokedex img {
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1);
    margin-right: 15px;
}

.titulo-separador1,
.titulo-separador2,
.titulo-separador3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0 20px;
}

.titulo-separador1 h1,
.titulo-separador2 h2,
.titulo-separador3 h3 {
    white-space: nowrap;
    margin: 20px;
    font-size: 2.4em;
    font-family: Bebas Neue;
}

.titulo-separador1 img,
.titulo-separador2 img,
.titulo-separador3 img {
    width: 70px;
    height: 70px;
    margin: 20px;
}

.linha {
    border-top: 2px solid black;
    width: 10%;
    flex-grow: 0.1;
    height: 0;
}

.lista-produtos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 30px 0;
    padding: 0 20px;
}

.lista-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin: 30px 0;
    padding: 0 10px;
}

.item-produto,
.item-card {
    text-align: center;
    text-decoration: none;
    color: var(--cor-texto-principal);
    display: block;
}

footer {
    background-color: #FCE2E2;
    padding: 40px 5%;
    margin: 0;
}

.historia-container,
.footer-containe-principal {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.historia-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-family: Bungee;
}

.historia-texto h4 {
    text-align: center;
    padding-bottom: 50px;
    color: #3F61A6;
    font-size: 25px;
}

.historia-texto p {
    text-align: center;
    align-items: center;
    font-size: 15px;
    padding-bottom: 150px;
    color: #2F2D2C;
}

.historia-img {
    display: flex;
    justify-content: center;
    width: 60%;
    padding-bottom: 150px;
}

.footer-containe-principal {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
}

.separador-vertical {
    width: 3px;
    height: 350px;
    background-color: #EF4949;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.footer-right {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    padding-right: 20px;
    height: 250px;
}

.dragonite-img {
    width: 300px;
    position: absolute;
}

.footer-busca {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    padding: 10px 20px;
    width: 500px;
    height: 49px;
    border: 1px solid #b3b3b3;
    box-shadow: 0 1px 3px #b3b3b3;
}

.footer-busca input[type="text"] {
    flex-grow: 1;
    border: none;
    background: transparent;
    outline: none;
    padding: 0;
    margin: 0;
    font-size: 1em;
    font-family: WDXL Lubrifont SC;
    font-size: 20px;
}

.footer-busca img {
    width: 28px;
    height: 28px;
    margin-left: 10px;
    cursor: pointer;
}

.contato {
    display: flex;
    gap: 10px;
    left: 50%;
    height: 50px;
    width: 500px;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    position: absolute;
    padding-top: 450px;
}

.linha-final-esquerda,
.linha-final-direita {
    background-color: #B11A1D;
    width: 200px;
    height: 10px;
    position: absolute;
    transform: translateY(470px);
}

.linha-final-esquerda {
    left: 0;
    border-top-right-radius: 100px;
    height: 14px;
    width: 40.1%;
}

.linha-final-direita {
    right: 0;
    border-top-left-radius: 100px;
    height: 14px;
    width: 40.1%;
}